.transactionBox {
  display: flex;
  justify-content: center;
  height: 93vh;
  position: relative;
  align-items: center;
  background-image: url("src/assets/bg2.png");
}

.formStyle {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}
