.css-mskkqm-MuiGrid-root {
    /*background image transparent*/
   background-image: url("src/assets/bg2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .css-w9b7xo  {
    /*background image transparent*/
   background-image: url("src/assets/bg2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }